body{
  margin: 0px;
}

nav{
}
a{
  text-decoration: none;
  padding: 10px;
}
nav>ol{
  list-style: none;
  float: right;
}

div{
  margin: 0px auto;
  width: 1200px;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 2px solid black;
}
