body{
  margin: 0px;
}
section{
  width: auto;
  background-color: #d6d6d6;
  height: 50px;
}

nav{
  float: right;
  margin-bottom: 20px;
  position: static;
  width: inherit;
}
a{
  text-decoration: none;
  padding: 16px;
  color: #000;
  transition: .5s;
}
a:hover{
  background-color: #fff;
}
li{
  list-style: none;
  float: left;
}

div{
  margin: 0px auto;
  width: 1200px;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 2px solid black;
}
